header {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.title {
    font-size: 0.9rem;
}

